@media only screen and (max-width:420px){
    .heading{
        width: 300px;
        margin: 0px;
        margin-left: 10px;

        margin-top: 0px;

    }
    .mainhead{
        margin-top: 50px;
    }
    .contact{

        margin-top: 180px;
        width: 200px;
        margin-left: 0px;
    }
    input{
        width: 280px;
    }
    .log{
        width: 295px;
    }
    .rough{
        font-size: 12px;
        margin-bottom: 40px;
        margin-top: 400px;
        margin-left: 40px;
    }
    hr{
        width: 300px;
    }
}